{% extends "inc/master.html" %}

{% block head %}

    <script src="/static/js/headerjs/scrollspy.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#assistedliving').prop('class', 'actived');
        });
        /*var a,b,c;
         a=$("#dh").offset().top;//元素相对于窗口的距离
         b=$(window).scrollTop(); //监控窗口已滚动的距离;
         c=$(document).height();//整个文档的高度
         d=$(window).height();//浏览器窗口的高度
         element  标签
         cssname  动画
         offset  相对于窗口的距离
         */
        function scrollnumber(element,cssname,offset){
            var a,b,c,d;
            d=$(element).offset().top;
            a=eval(d + offset);
            b=$(window).scrollTop();
            c=$(window).height();
            if(b+c>a){
                $((element)).addClass((cssname));
            }
        }

        function scrollfun(){

            {#            scrollnumber("#mxztc",'animated-ourservice',200);#}
            {#            scrollnumber("#as",'animated-ourservice',10);#}
            {#            scrollnumber("#loanid",'animated-ourservice',10);#}
            {#            scrollnumber("#material",'animated-ourservice',10);#}
        }

        $(document).ready(function(e) {
            scrollfun();
            $(window).scroll(function(){
                scrollfun();
            });
        });
    </script>

{% endblock %}

{% block body %}data-spy="scroll" data-target=".js-navbar-scrollspy" data-offset="70"{% endblock %}

{% block content %}
    <nav class="navbar navbar-fixed-top carousel-margin" style="background:#fff" role="navigation">
        <div class="container">
            <div class="js-navbar-scrollspy">
                <ul class="nav am-tabs-nav">
                    <li class="col-md-4"><a href="#as">
                        <div class="col-md-3 col-sm-3 am-padding-right-0">
                            <i class="icon-truck"></i>
                        </div>
                        <div class="col-md-9 col-sm-9 text-left">
                            <strong class="nav-text">免税车购置服务</strong>
                        </div></a></li>
                    <li class="col-md-4"><a href="#weiguanjia">
                        <div class="col-md-3 col-sm-3 am-padding-right-0">
                            <i class="icon-home3"></i>
                        </div>
                        <div class="col-md-9 col-sm-9 text-left">
                            <strong class="nav-text">恒心微管家</strong>
                        </div></a></li>
                    <li class="col-md-4"><a href="#loanid">
                        <div class="col-md-3 col-sm-3 am-padding-right-0">
                            <i class="icon-coin-yen"></i>
                        </div>
                        <div class="col-md-9 col-sm-9 text-left">
                            <strong class="nav-text">创业贷款申请指导</strong>
                        </div></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="course-header carousel-margin " id="">
        <img src="/static/images/web/courseheader.png">
    </div>
    <div style="background: #fff;position: relative;"><label id="as" style="font-size:40px;">&nbsp;</label></div>
    <div style="background: url(../../static/images/web/twoBg.jpg) repeat-x scroll center bottom;">

        <div class="container" style="margin-top:0em;" >
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated">
                    <h4>免税车购置服务</h4>
                    <p>生活辅助——留学生免税车购置服务</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>凡符合国家政策规定的留学人员，购买国产汽车可享受以下的税收优惠：</h1>
                </div>

            </div>
            <div class="col-xs-5 circle-div text-center">
                <h3>1</h3>
                <h4>减、免进口零配件海关关税</h4>
            </div>
            <div class="col-xs-5 col-xs-offset-2 circle-div text-center">
                <h3>2</h3>
                <h4>免征车辆购置税（约为车辆市场指导价格的10%）</h4>
            </div>


            <div class="row">
                <div class="col-md-12 text-center" style="margin-top:3em;">
                    <h1>申报条件</h1>
                </div>
            </div>

            <div class="row" style="margin-top: 3em;">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-checkmark"></i>
                        </span>
                        <div class="feature-copy">
                            <h4 class="zifont">留学一学年以上</h4>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-checkmark"></i>
                        </span>
                        <div class="feature-copy">
                            <h4 class="zifont">完成学业或进修结束后两年内回国定居工作</h4>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-checkmark"></i>
                        </span>
                        <div class="feature-copy">
                            <h4 class="zifont">毕业或进修结束后首次入境未超过一年</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-checkmark"></i>
                        </span>
                        <div class="feature-copy">
                            <h4 style="margin-top:-5px;" class="zifont"> * 有免税指标（学习期间内连续在外180天可计为一个免税指标）</h4>
                            <h4 class="zifont"> * 截算学习期间内的任意时间段符合停留条件（180天）即可，并且只要这段时间段内中途回国停留时间不超过个月（按30天计）可连续计算。</h4>
                            <h4 class="zifont">
                                * 如果在回国入境时携带了需申报的免税物品（每件物品占用一免税指标）并填报了旅客行李申报单，应在申请购
                                车同时出示
                            </h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 3em;margin-bottom: 3em;">
                <div class="col-xs-6 text-center">
                    <div class="col-xs-12">
                        <h1>所需材料(均为原件)</h1>
                        <p style="color:#e0691e;font-weight: 600;font-size:16px;">notice:《暂住证》等当地海关及其他部门要求提供的其他材料</p>
                    </div>
                    <div class="col-xs-12 text-left">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">《留学回国人员证明》</h4>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">《毕业证书》或《学习证明》</h4>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">身份证（军官证）、户口本 （卡、页）</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">护照（记录学习期间全部出入境记录内容）</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">《自用物品申请表》（申报前在主管地海关领取）</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">印件及所需其他材料*</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center" >
                    <div class="col-xs-12">
                        <h1>办理流程</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div style="background: #efefef;position: relative;"><label id="weiguanjia" style="font-size:40px;">&nbsp;</label></div>
    <div style="background: #efefef;" >
        <div class="container" style="padding-top:0;"  >
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated" >
                    <h4>恒心微管家</h4>
                    <p>恒心微管家——恒心会员最贴心的免费福利，精心料理你留学路上的衣食住行。</p>
                </div>
            </div>
            <div class="row" style=" margin-top: 3em;">
                <div class="col-md-4 animate-box fadeInUp animated ">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>餐厅推荐</h2>
                            <p>根据您的需求推荐当地优质餐厅与菜品，物美价廉的也可以是盛宴</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>交通出行</h2>
                            <p>日常出行向导，避开拥堵交通与嘈杂人群；会员机票预订服务，让你的远行与归国路，变得如此简单</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>体检挂号</h2>
                            <p>提供全球多家优质医院筛查体检的预约挂号功能，你的健康对我们很重要</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>住房建议</h2>
                            <p>怎样避免无良中介“携款私逃”？学校周边还有哪块风水宝地？恒心为你提供留学租房时的种种建议，让你在异乡也能有张温床</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>经法咨询</h2>
                            <p>恒心会员免费享受留学途中的经济法律咨询服务，合同条款的隐藏内容，银行卡办理的注意事项，让法律成为你保护自己最好的武器</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style ="margin-top:4em;margin-bottom: 2em; ">
                <div class="col-xs-12 text-center">
                    <h1>恒心微管家——服务首轮享受对象</h1>
                </div>
                <div class="col-md-4">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                        <div class="feature-copy">
                            <p class="zifont" style="margin-top: 10px;">恒心注册会员（在恒心购买任一服务即可自动成为恒心会员）</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                        <div class="feature-copy">
                            <p class="zifont" style="margin-top: 10px;">恒心 “HEX ELITE计划”成员</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                        <div class="feature-copy">
                            <p class="zifont" style="margin-top: 10px;">收到恒心特别邀请的群体</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background: #fff;position: relative;"><label id="loanid" style="font-size:40px;">&nbsp;</label></div>
    <div class="container" style="margin-top:0;" >
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated">
                <h4>创业贷款申请指导</h4>
                <p>恒心提供创业贷款代申请服务，利用自身众多创业项目与对政策的精准把控程度，快速完成相关扶持资金的审批流程与下发，让创业者将时间和精力专心投入事业。</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center" style=" margin-bottom: 2em;">
                <h1>创业贷款类型</h1>
                <p>恒心提供以下贷款政策解读答疑，并提供普通创业贷款代申请服务</p>
            </div>

            <div class="row" style=" margin-top: 4em;">
                <div class="col-md-3 animate-box fadeInUp animated ">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>科技创业贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>自主创业贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>个人创业贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>青少年创业贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>高校毕业生自主创业贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>创业基金贷款</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 animate-box fadeInUp animated">
                    <div class="hexoco-project-item">
                        <img src="/static/images/web/testimg1.jpg" alt="Image" class="img-responsive">
                        <div class="hexoco-text">
                            <h2>普通创业贷款</h2>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="row" style="margin-top: 3em;margin-bottom: 3em;">
            <div class="col-xs-6 text-center">
                <div class="col-xs-12">
                    <h1>申请贷款所需条件</h1>
                </div>
                <div class="col-xs-12 text-left">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-checkmark"></i>
                            </span>
                        <div class="feature-copy">
                            <h4 class="zifont">申请人需具有完全民事行为能力</h4>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-credit-card"></i>
                            </span>
                        <div class="feature-copy">
                            <h4 class="zifont">无不良信用及债务纪录</h4>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-list"></i>
                            </span>
                        <div class="feature-copy">
                            <h4 class="zifont">无社保状态或持有失业证</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 text-center">
                <div class="col-xs-12">
                    <h1>办理流程</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock %}