{% extends "inc/master.html" %}


{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#course_guide').prop('class', 'actived');
        });
        /*var a,b,c;
         a=$("#dh").offset().top;//元素相对于窗口的距离
         b=$(window).scrollTop(); //监控窗口已滚动的距离;
         c=$(document).height();//整个文档的高度
         d=$(window).height();//浏览器窗口的高度
         element  标签
         cssname  动画
         offset  相对于窗口的距离
         */
        function scrollnumber(element,cssname,offset){
            var a,b,c,d;
            d=$(element).offset().top;
            a=eval(d + offset);
            b=$(window).scrollTop();
            c=$(window).height();
            if(b+c>a){
                $((element)).addClass((cssname));
            }
        }

        function scrollfun(){

{#            scrollnumber("#lunwen",'animated-ourservice',200);#}
{#            scrollnumber("#zuoye",'animated-ourservice',10);#}
{#            scrollnumber("#kaoqian",'animated-ourservice',10);#}
{#            scrollnumber("#wangke",'animated-ourservice',10);#}
        }

        $(document).ready(function(e) {
            scrollfun();
            $(window).scroll(function(){
                scrollfun();
            });
        });
    </script>
{% endblock %}


{% block content %}

    <div class="course-header">
        <img src="/static/images/web/courseguide/1.jpg">
    </div>

    <div style="background: #fff; margin-top: 4em;margin-bottom: 3em;">
        <div class="hxco-container">
{#            <div class="row feature-title text-center" id="lunwen">#}
{#                <h3>论文提升</h3>#}
{#            </div>#}
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="index-feature-center function-summary animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-pencil2"></i>
						</span>
                        <h3>论文提升</h3>
                        <p> 提高写作技巧与学术写作能力</p>
                        <p>规范写作要求，规则，格式</p>
                        <p>提供各专业所需相关资源</p>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3">
                    <div class="index-feature-center function-summary animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-laptop"></i>
						</span>
                        <h3>网课梳理</h3>
                        <p> 网课相关问题答疑</p>
                        <p>在线课业咨询与梳理</p>
                        <p>任务辅导与考前应急</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="index-feature-center function-summary animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-books"></i>
						</span>
                        <h3>作业辅导</h3>
                        <p> 题目解读分析</p>
                        <p>作品作业的校正与润色</p>
                        <p>分组项目的全程跟踪指导</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="index-feature-center function-summary animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-office"></i>
						</span>
                        <h3>考前强化</h3>
                        <p> IEP、ESL等语言考试辅导</p>
                        <p>雅思、托福、GMAT、GRE、SAT等常规考试辅导</p>
                        <p>各专业单科考前辅导</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course-banner">
        <img  src="/static/images/web/coursebanner.png">
    </div>


    <div class="course-advantage">
        <div class="row feature-title">
            <h3>WHY US ?</h3>
            <p>我相信，在恒心之前你可能遇到过那些专注于“雪上加霜”的团队，但千万别因他人的过错，放弃下一个改变自己命运的机会。</p>
        </div>

    </div>
    <div class="container" style="margin-top: -3em;padding-bottom: 3em;">
    <div class="col-xs-12 text-center">
        <img src="/static/images/web/courseadvantage.png" style="width: 80%;height: auto;">
    </div>
    </div>
{% endblock %}