{% extends "inc/master.html" %}

{% block title %}移民落户咨询{% endblock %}
{% block head %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#immigrant').prop('class', 'actived');
    });
    </script>
{% endblock %}

{% block content %}

     <div class="course-header">
        <img src="/static/images/web/immigrant/1.jpg">
    </div>
    <div style="background: url(../../static/images/web/twoBg.jpg) repeat-x scroll center bottom;">
        <div class="container" style="margin-top:3em;" >
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 text-center heading-section animate-box fadeInUp animated">
                    <h4>美国EB-3  职业移民</h4>
                    <p>职业移民第三优先类别包括熟练工人、学士学位持有者以及其它工人。第三优先类别的名额也为每年约40,000个（占职业移民名额总数的28.6%），以及本年度第一和第二优先类别的剩余名额。但非熟练工人的名额数不得超过10,000个，所有第三类别的I-140申请都需要由雇主提交。</p>
                </div>

                <div class="col-xs-4  circle-noborder-div text-center">
                    <h1>熟练工人</h1>
                    <h5>申请人必须能够胜任至少需要两年培训或工作经验的工作</h5>
                </div>
                <div class="col-xs-4  circle-noborder-div text-center">
                    <h1 style="">专业技术人员</h1>
                    <h5>拥有学士学位的申请人</h5>
                </div>

                <div class="col-xs-4  circle-noborder-div text-center">
                    <h1 style="">其它工人</h1>
                    <h5>申请人能够胜任不需要两年培训或工作经验的工作</h5>
                </div>
            </div>
            <div class="row" style="margin-top: 3em;margin-bottom: 3em;">
                <div class="col-xs-6 text-center">
                    <div class="col-xs-12">
                        <h1>EB-3 移民所需条件</h1>
                    </div>
                    <div class="col-xs-12 text-left">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-user"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">年龄21-55岁</h4>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-credit-card"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">非技术类初中以上，专业技术类高中或职业技术专业以上学历</h4>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-list"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">无语言要求，专业技术类需基础的英语以上</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-briefcase"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">两年以上相关工作经验，非技术类只需两年工作经验以下</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-leaf"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">身体健康，无犯罪记录史</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-coin-dollar"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">有一定经济基础优先（最好10万美元资产以上）</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 text-center">
                    <div class="col-xs-12">
                        <h1>恒心相关配套服务</h1>
                    </div>

                    <div class="col-xs-12 text-left">
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-phone"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">技术移民相关政策咨询答疑</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-pie-chart"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">美国当地就业培训机构人才输送</h4>
                            </div>
                        </div>

                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-profile"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">工作签证指导办理</h4>
                            </div>
                        </div>
                        <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                            <span class="icon">
                                <i class="icon-keyboard"></i>
                            </span>
                            <div class="feature-copy">
                                <h4 class="zifont">猎聘网北美总部人才资源数据库录入</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:3em;">
                <div class="col-xs-12 text-center">
                    <h1>EB-3 移民办理流程</h1>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="col-xs-12 text-center" style="margin-top: -2em;">
                        <img src="/static/images/web/immigrantflow0.png" style="width: 100%;height: auto">
                    </div>
                </div>
            </div>


            <div class="row" style="margin-top:3em;">
                <div class="col-xs-8 col-xs-offset-2 text-center heading-section animate-box fadeInUp animated">
                    <h4>美国EB-5  投资移民</h4>
                    <p>移民申请人需要在美国创设或投资企业，创造10个全职的就业机会。投资额为100万美元或50万美元，目前常见的是50万美元的项目，待申请人拿到永久绿卡后，投资期满，所投资的项目公司便会将50万美元返还，但50万美元能不能拿回，取决于项目的运作情况。</p>
                    <p>每年EB-5有10000个签证发放配额供全球使用，但大陆每年配额不能超过700个</p>
                </div>
            </div>
            <div class="row" style="margin-top:3em;">
                <div class="col-xs-12 text-center">
                    <h1>EB-5 移民所需条件</h1>
                </div>
            </div>
            <div class ="row" style="padding-top:5em;">
                <div class="col-xs-3 col-sm-3">
                    <div class="feature-center function-summary animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="icon-plus"></i>
                        </span>
                        <p>投资人、其配偶和未满21周岁之未婚子女均可以同时申请移民</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="feature-center function-summary animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="icon-clipboard"></i>
                        </span>
                        <p>原则上，申请人年满21周岁，无犯罪记录</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="feature-center function-summary animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="icon-star-empty"></i>
                        </span>
                        <p>申请人不必有学历、语言、经商要求或工作经验的要求</p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3">
                    <div class="feature-center function-summary animate-box" data-animate-effect="fadeIn">
                        <span class="icon">
                            <i class="icon-coin-dollar"></i>
                        </span>
                        <p>申请人须有能力投资50万或100万美元（资金来源合法，允许赠与、继承等方式）</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:3em;">
                <div class="col-xs-12 text-center">
                    <h1>EB-5 移民办理流程</h1>
                </div>
                <div class="col-xs-12 text-center" style="margin-top: -2em;">
                    <img src="/static/images/web/immigrantflow.png" style="width: 30%;height: auto">
                </div>
            </div>
        </div>
    </div>

{% endblock %}