{% extends "inc/master.html" %}
{% load poll_extras %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#information').prop('class', 'actived');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container" style="margin: 68px auto auto;min-width: 1240px;">
        <div class="row text-center"  style=" margin-top:2em;">
            <div class="col-xs-12 article-title text-left animate-box fadeInUp animated">
                <h1>{{ act.title }}</h1>
            </div>
        </div>
        <p>时间：{{ act.dimDate | date:"Y-m-d" }}</p>
        <div class="row">
            <div class="col-xs-8 detail1">
                {{ act.content | safe }}
            </div>
            <div class="col-xs-4">
                <div class="extra-content">
                    <h1>热门活动</h1>
{#                    <div class="image">#}
{#                        <img src="http://static.saatchi.com/uploads/137578334847755/resize_280_351.jpg">#}
{#                    </div>#}
                    <div class="text">
                        <br/>
                        {% if activity %}
                            {% for a in activity %}
                            <p>
                                <a href="/information_detail/{{ a.id }}" target="_blank" class="">{{ a.title }}</a>
                            </p>
                            {% endfor %}

                        {% else %}
                            <h4>暂无活动</h4>
                        {% endif %}

                    </div>
                </div>

{#                <div class="extra-content related-links">#}
{#                    <h1>Related Links</h1>#}
{#                    <ul>#}
{#                        <li><a href="http://www.publicisgroupe.com" target="_blank">Publicis Groupe</a></li>#}
{#                    </ul>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}