{% extends "inc/master.html" %}
{% load poll_extras %}

{% block head %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#information').prop('class', 'actived');
        });
    </script>
{% endblock %}

{% block content %}
    <div class="container carousel-margin">
        <div class="row" style="margin-top: 3em;">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated">
                <h4>行业资讯</h4>
                <p>恒心为您提供最新的新闻资讯以及留学的小知识</p>
            </div>
        </div>

        <div class="row" style="margin-top: 4em;">
            {% if paged %}
                {% for p in paged %}
                    <div class="col-xs-4 text-left">
                        <div class="article">
                            {% if p.imgs %}
                                <div class="article-img">
                                    <img src="{{ p.imgs.filepath }}" alt="" style="width: 100%;">
                                </div>

                            {% endif %}
                            <div class="article-header">
                                <h2><a href="/information_detail/{{ p.id }}?page={{ page }}" rel="">{{ p.title }}</a></h2>
                                <ul class="article--meta">
                                    <li class="article--meta_item -date">{{ p.dimDate | date:"Y-m-d" }}</li>
                                </ul>
                            </div>
                            <div class="article--content">
                                <p>{{ p.content | spiltcontent:200 }}</p>
                            </div>
                            <div class="article--footer">
                                <a href="/information_detail/{{ p.id }}?page={{ page }}" class="link">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}

        </div>

        <div class="row">
            {#            <ul class="list-pager">#}
            {#                <li><a href="?page=1">首页</a></li>#}
            {#                {% if paged.has_previous %}#}
            {#                  <li><a href="?page={{ filmpaged.previous_page_number }}&m_type={{ m_type }}&area={{ country }}&year={{ year }}">上一页</a></li>#}
            {#                    {% endif %}#}
            {#                {% for p in rangedpages %}#}
            {#                    <li><a href="?page={{ p }}&m_type={{ m_type }}&area={{ country }}&year={{ year }}">{{ p }}页</a></li>#}
            {##}
            {#                      {% endfor %}#}
            {#                    <li>第 {{ filmpaged.number }} 页, 共 {{ filmpaged.paginator.num_pages }} 页</li>#}
            {#                    {% if filmpaged.has_next %}#}
            {#                    <li> <a href="?page={{ filmpaged.next_page_number }}&m_type={{ m_type }}&area={{ country }}&year={{ year }}">下一页</a></li>#}
            {#                    {% endif %}#}
            {#                    <li><a href="?page={{ lastpagenum }}&m_type={{ m_type }}&area={{ country }}&year={{ year }}">尾页</a></li>#}
            {#            </ul>#}

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paged.has_previous %}
                        <li>
                            <a href="?page={{ paged.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                    {% endif %}
                    {% for p in rangedpages %}
                        {% if p == page %}
                            <li class="active"><a href="?page={{ p }}">{{ p }}<span class="sr-only">(current)</span></a></li>
                        {% else %}
                            <li><a href="?page={{ p }}">{{ p }}</a></li>
                        {% endif %}

                    {% endfor %}
                    {% if paged.has_next %}
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {#        <div class="row">#}
    {#            <div class="col-md-8">#}
    {#                <div>#}
    {#                    <div class="col-xs-12 col-sm-2 text-center">#}
    {#                        <div class="entry-meta text-center">#}
    {#                            <span id="publish_date">07  NOV</span>#}
    {#                            <span><i class="icon-user"></i> <a href="#">John Doe</a></span>#}
    {#                            <span><i class="icon-code"></i> <a href="#">2 Comments</a></span>#}
    {#                            <span><i class="icon-heart"></i><a href="#">56 Likes</a></span>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-xs-12 col-sm-10 text-left blog-content">#}
    {#                        <img class="img-responsive img-blog" src="/static/images/web/testimg1.jpg" alt="" width="100%">#}
    {##}
    {#                        <h2><a href="/">Consequat bibendum quam liquam viverra</a></h2>#}
    {#                        <h3>#}
    {#                            Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante,#}
    {#                            elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,#}
    {#                            lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.#}
    {#                        </h3>#}
    {#                        <a class="btn btnprimary readmore" href="/">查看更多<i class="icon-align-right"></i></a>#}
    {#                    </div>#}
    {##}
    {#                <div>#}
    {#                    <div class="col-xs-12 col-sm-2 text-center">#}
    {#                        <div class="entry-meta text-center">#}
    {#                            <span id="publish_date">07  NOV</span>#}
    {#                            <span><i class="icon-user"></i> <a href="#">John Doe</a></span>#}
    {#                            <span><i class="icon-code"></i> <a href="#">2 Comments</a></span>#}
    {#                            <span><i class="icon-heart"></i><a href="#">56 Likes</a></span>#}
    {#                        </div>#}
    {#                    </div>#}
    {#                    <div class="col-xs-12 col-sm-10 text-left blog-content">#}
    {#                        <img class="img-responsive img-blog" src="/static/images/web/testimg1.jpg" alt="" width="100%">#}
    {##}
    {#                        <h2><a href="/">Consequat bibendum quam liquam viverra</a></h2>#}
    {#                        <h3>#}
    {#                            Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante,#}
    {#                            elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,#}
    {#                            lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.#}
    {#                        </h3>#}
    {#                        <a class="btn btnprimary readmore" href="/">查看更多<i class="icon-align-right"></i></a>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            </div>#}
    {#            <div class="col-md-4 text-left">#}
    {#                <div class="widget categories">#}
    {#                    <h3>推荐文章</h3>#}
    {#                    <div class="row">#}
    {#                        <div class="col-sm-12">#}
    {#                            <div class="single_comments">#}
    {#                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>#}
    {#                            </div>#}
    {#                            <div class="single_comments">#}
    {#                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>#}
    {#                            </div>#}
    {#                            <div class="single_comments">#}
    {#                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>#}
    {#                            </div>#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
{% endblock %}