{% extends "inc/master.html" %}

{% block head %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#information').prop('class', 'actived');
    });
    </script>
{% endblock %}

{% block content %}
    <div class="container carousel-margin">
        <div class="row" style="margin-top: 3em;">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated">
                <h3>行业资讯</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div>
                    <div class="col-xs-12 col-sm-2 text-center">
                        <div class="entry-meta text-center">
                            <span id="publish_date">07  NOV</span>
                            <span><i class="icon-user"></i> <a href="#">John Doe</a></span>
                            <span><i class="icon-code"></i> <a href="#">2 Comments</a></span>
                            <span><i class="icon-heart"></i><a href="#">56 Likes</a></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 text-left blog-content">
                        <img class="img-responsive img-blog" src="/static/images/web/testimg1.jpg" alt="" width="100%">

                        <h2><a href="/">Consequat bibendum quam liquam viverra</a></h2>
                        <h3>
                            Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante,
                            elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,
                            lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
                        </h3>
                        <a class="btn btnprimary readmore" href="/">查看更多<i class="icon-align-right"></i></a>
                    </div>

                <div>
                    <div class="col-xs-12 col-sm-2 text-center">
                        <div class="entry-meta text-center">
                            <span id="publish_date">07  NOV</span>
                            <span><i class="icon-user"></i> <a href="#">John Doe</a></span>
                            <span><i class="icon-code"></i> <a href="#">2 Comments</a></span>
                            <span><i class="icon-heart"></i><a href="#">56 Likes</a></span>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-10 text-left blog-content">
                        <img class="img-responsive img-blog" src="/static/images/web/testimg1.jpg" alt="" width="100%">

                        <h2><a href="/">Consequat bibendum quam liquam viverra</a></h2>
                        <h3>
                            Curabitur quis libero leo, pharetra mattis eros. Praesent consequat libero eget dolor convallis vel rhoncus magna scelerisque. Donec nisl ante,
                            elementum eget posuere a, consectetur a metus. Proin a adipiscing sapien. Suspendisse vehicula porta lectus vel semper. Nullam sapien elit,
                            lacinia eu tristique non.posuere at mi. Morbi at turpis id urna ullamcorper ullamcorper.
                        </h3>
                        <a class="btn btnprimary readmore" href="/">查看更多<i class="icon-align-right"></i></a>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-md-4 text-left">
                <div class="widget categories">
                    <h3>推荐文章</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="single_comments">
                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>
                            </div>
                            <div class="single_comments">
                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>
                            </div>
                            <div class="single_comments">
                                <a href="/"><p><i class="icon-star"></i>Lorem ipsum dolor sit amet </p></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}