{% extends "inc/master.html" %}

{% block head %}
    <script type="text/javascript">
    $(document).ready(function () {
        $('#about_us').prop('class', 'actived');
    });
    </script>
{% endblock %}

{% block content %}
    <div class="container carousel-margin">
        <div class="row" style="margin-top: 3em;">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box fadeInUp animated">
                <h3>海归职业规划</h3>
            </div>
        </div>
        <div class="text-center">
            <img src="/static/images/img_bg_2.jpg" width="100%">
        </div>

        <div class="col-xs-6 text-left">
            <div class="hygh-comment">
                <h3>Quality Education</h3>
                <hr/>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo . Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .</p>
            </div>
        </div>
        <div class="col-xs-6 text-left">
            <div class="hygh-comment">
                <h3>Quality Education</h3>
                <hr/>
                <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo .Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo . </p>
            </div>
        </div>

            <div class="row row-bottom-padded-lg">
                <div class="col-xs-push-2 col-md-8">
{#                    <h4 class="fh5co-number">02.</h4>#}
                    <h2 style="margin-top:2em !important;">选定目标学校</h2>
                    <p>Lorem ipsum dolor sit amet,  recusandae voluptatum necessitatibus provident commodi?</p>
                    <ul>
                        <li>综合学生实力和意愿，选定目标学校 </li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <div class="fh5co-icon"><i class="icon-mobile"></i></div>
                </div>
            </div>
            <div class="row row-bottom-padded-lg">
                <div class="col-md-3 col-push-1">
                    <div class="fh5co-icon"><i class="icon-browser" style="width: 100%;height: auto;"></i></div>
                </div>
                <div class="col-md-8 col-md-push-1">
{#                    <h4 class="fh5co-number">03.</h4>#}
                    <h2 class="numberh2" style="margin-top:2em !important;">制订申请方案</h2>
                    <p class="numberp">Lorem ipsum dolor sit amet</p>
                    <ul>
                        <li>依据目标学校的要求，制订申请时间进程表 </li>
                    </ul>
                </div>
            </div>
            <div class="row row-bottom-padded-lg">
                <div class="col-xs-push-2 col-md-8">
{#                    <h4 class="fh5co-number">04.</h4>#}
                    <h2 style="margin-top:2em !important;">申请材料准备</h2>
                    <p>Lorem ipsum dolor sit amet,  recusandae voluptatum necessitatibus provident commodi?</p>
                    <ul>
                        <li>根据指定的申请方案，准备相应材料和文书</li>
                        <li>必要时提供考试辅导和背景提升服务</li>
                    </ul>
                </div>
                <div class="col-md-3 col-md-push-1">
                    <div class="fh5co-icon"><i class="icon-mobile"></i></div>
                </div>
            </div>
            <div class="row row-bottom-padded-lg">
                <div class="col-md-3 col-push-1">
                    <div class="fh5co-icon"><i class="icon-browser" style="width: 100%;height: auto;"></i></div>
                </div>
                <div class="col-md-8 col-md-push-1">
{#                    <h4 class="fh5co-number">05.</h4>#}
                    <h2 class="numberh2" style="margin-top:2em !important;">申请方案实施</h2>
                    <p class="numberp">Lorem ipsum dolor sit amet</p>
                    <ul>
                        <li>基于指定的申请方案，将学生申请材料按时间规划递交学校，并保持与学校的沟通 </li>
                    </ul>
                </div>
            </div>
    </div>
{% endblock %}