<!DOCTYPE HTML>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="{% block keywords %} {% endblock %} "/>
        <title>恒心教育咨询有限公司 {% block title %}{% endblock %}</title>
        <link href="/static/css/bootstrap.css"  rel='stylesheet' type='text/css'/>
        <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
        <script src="/static/js/jquery-3.11.min.js" ></script>
        <script src="/static/js/bootstrap.js" ></script>

    </head>
    <body>
        <div class="header-contact">
            <div class="call">
                <label class="label-center">Call us: 15984223901</label>
            </div>

            <div class="email">
                <label class="label-center">Email us: 418586403@qq.com</label>
            </div>
        </div>
<header class="navbar navbar-static-top bs-docs-nav" id="top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="../" class="navbar-brand">Bootstrap</a>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse pull-right">
      <ul class="nav navbar-nav">
        <li>
          <a >起步</a>
        </li>
        <li class="active">
          <a >全局 CSS 样式</a>
        </li>
        <li>
          <a >组件</a>
        </li>
        <li>
          <a >JavaScript 插件</a>
        </li>
        <li>
          <a >定制</a>
        </li>
        <li><a >网站实例</a></li>
      </ul>
      
    </nav>
  </div>
</header>
        {% block content %}

        {% endblock %}

    </body>
</html>