<!DOCTYPE HTML>

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="keywords" content="{% block keywords %} {% endblock %} "/>
        <title>恒心教育咨询有限公司 {% block title %}{% endblock %}</title>
        <link href="/static/css/bootstrap.css"  rel='stylesheet' type='text/css'/>
        <link href="/static/css/frontstyle.css" rel="stylesheet" type="text/css" />
        <script src="/static/js/jquery-3.11.min.js" ></script>
        <script src="/static/js/bootstrap.js" ></script>

    </head>
    <body>
        <div class="header-contact">
            <div class="call">
                <label class="label-center">Call us: 15984223901</label>
            </div>

            <div class="email">
                <label class="label-center">Email us: 418586403@qq.com</label>
            </div>
        </div>
        <div class ="header">
            <div class="logo"></div>
            <div class="logo-font">恒心前途</div>
            <div class="nav">
                <ul class ="navbar">
                    <li>
                        <a href="/">首页</a>
                    </li>
                    <li>
                        <a href="/">学历学位认证</a>
                    </li>
                    <li>
                        <a href="/">留学教育咨询</a>
                    </li>
                    <li>
                        <a href="/">海外课程辅导</a>
                    </li>
                    <li>
                        <a href="/">海归职业规划</a>
                    </li>
                    <li>
                        <a href="/">创业贷款申请</a>
                    </li>
                    <li>
                        <a href="/">工作签证申请</a>
                    </li>
                    <li>
                        <a href="/">行业资讯</a>
                    </li>
                    <li>
                        <a href="/">关于恒心</a>
                    </li>
                </ul>
            </div>
        </div>

        {% block content %}

        {% endblock %}

    </body>
</html>