.hxheader{
    background: #2C303C;
    color:#FFF;
}
.navhead li a {
    line-height: 60px !important;
    color: #fff !important;
}
.logo{
    line-height: 60px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.bs-docs-footer {
    background-color: #2C303C;
    color: #99979c;
    margin-top: 100px;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: left;
}


.bs-docs-footer a{
    color: #FFF;
    text-decoration: none;
}

.bs-docs-footer-links
{
    text-align: left;
    margin-bottom: 50px;
    padding-left: 0;
}

.bs-docs-footer-links li
{
    float:left;
    list-style: outside none none;
    /*margin-bottom: 20px;*/
}
.bs-docs-footer-links li a
{
    margin-left: 15px;
    margin-right: 15px;

}

.index-summary{
    width:100%;
    height:200px;
}

.index-summary-block{
    width:25%;
    height:200px;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    box-sizing: border-box;
    list-style-type: none;
    float: left;
    background: #F7F7F7;
    padding-top:30px;
    /*padding-bottom:30px;*/
    padding-left:30px;
    padding-right:30px;
}

.index-banner{
    background-image: url(../images/web/img_bg_2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;

}

.ourservice{
    margin: 0 auto;
    overflow: hidden;
    width: 1240px;
    padding-top:30px;
    padding-bottom:30px;
}

.diagram{
    background: rgba(0, 0, 0, 0) url("../images/web/bgbg.png") no-repeat scroll center top;
    margin-top: 44px;
    min-height: 522px;
    overflow: hidden;
    padding-bottom: 88px;
    position: relative;
    width: 100%;
}

.title-rg {
    text-align: right;
}
.titlep {
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    width: 385px;
}

.title-ce {
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.title-center {
    font-size: 37px;
    margin: 230px auto 0;
    text-align: center;
    transition: all 0.1s ease 0s;
    width: 268px;
}

.title-center p {
    color: #504f61;
    line-height: 39px;
    margin-bottom: 5px;
}

.title-center:hover {
    font-stretch: normal;
    transform: scale(1.2);
}

.index-case {
    background: #f3f3f4 none repeat scroll 0 0;
    height: 445px;
    min-width: 1240px;
    padding-top: 68px;
    width: 100%;
}

.index-bannner-1{
    background: #4cc1bd;
    background: -moz-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #4cc1bd), color-stop(100%, #3f95ea));
    background: -webkit-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -o-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: -ms-linear-gradient(-45deg, #4cc1bd 0%, #3f95ea 100%);
    background: linear-gradient(135deg, #4cc1bd 0%, #3f95ea 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4cc1bd', endColorstr='#3f95ea', GradientType=1 );
    padding: 7em 0;
    clear: both;
}


.bannner-container {
    max-width: 1140px;
    position: relative;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    /*height:400px;*/
}

#gtco-header .display-tc, #gtco-counter .display-tc, .gtco-cover .display-tc {
    display: table-cell !important;
    vertical-align: middle;
}
#gtco-counter .display-t, #gtco-counter .display-tc {
    height: 500px;
    display: table;
    width: 100%;
}

.feature-center {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}


.counter {
    font-size: 50px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 100;
    display: block;
}

.counter-label {
    margin-bottom: 0;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: .1em;
}


.icon {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
    height: 70px;
    margin-bottom: 30px;
    text-align: center;
    width: 70px;
}

.feature-center .icon {
    background: #efefef none repeat scroll 0 0;
    border-radius: 50%;
    display: table;
    height: 90px;
    margin: 0 auto 30px;
    text-align: center;
    width: 90px;
}